/* PC */
@media (min-width: 1024px) {
    
    .s-menu-btn {
       display: none; 
    }
}



/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {


   
}   

/* Mobile */
@media (max-width: 739px) {
    /* common */
    .row {
        margin-left: 0;
        margin-right: 0;
        flex-wrap: wrap;
    }
    .col {
        margin-left: 0;
        margin-right: 0;
    }
    .s-col-full {
        width: 100% !important;
    }
    .s-mb-16 {
        margin-bottom: 16px !important;
    }
    .s-btn-full {
        width: 100% !important;
    }
    /* 1. Header */
    #header {
        /* overflow: hidden; */
    }
    .nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .nav .nav__item {
        background-color: #000;
        color: #fff;
        width: 100%;
        height: 100%;
        display: none;
    }

    /* Ensure first item (HOME) is visible in the header bar */
    .nav .nav__item:first-child {
        display: inline-block;
        list-style: none;
        height: 100%;
        max-width: 94px;
    }
    .nav.open .nav__item{
        display: block;             
        
    }
    .nav .nav__item:last-child {
        position: relative;
    }
    .nav__item:last-child:hover .subnav {
        position: absolute;
        top: var(--header-height);
        left: 0;
        right: 0;
        width: 100%;
        background-color: #000;
        color: #fff;
    }
    .subnav li {
    }
    .subnav li a{
        width: 100%;
        background-color: #000;
        color: #fff;
    }
    .header__icon-search {
        display: none;
    }
    .s-menu-btn {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 62px;
        text-align: center;
    }
    .s-menu-btn i {
        width: 100%;
        height: 100%;
        line-height: 46px;
        color: #fff;
    }
    .s-menu-btn:hover i{
        background-color: #ccc;
        color: #000;
    }
    .about-img {
        max-width: 60%;
    }
    .location-img,
    .map-img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    /* Contact Css */
    
}