* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    position: relative;
}

#header {
    position: fixed;
    height: 46px;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav {
    display: flex;
    height: 100%;
}

.nav__item {
    list-style-type: none;
    height: 100%;
    
}

.nav__link {
    display: block;
    height: 100%;
    line-height: 46px;
    color: #fff;
    text-decoration: none;
    padding: 0px 26px;
    font-size: 15px;
}

.nav > li:hover > a {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.subnav {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    width: 160px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

#header .nav li:hover .subnav {
    display: block;
}


.subnav li {
    list-style: none;
    height: 38px;
}

.subnav li a {
    display: block;
    color: #000;
    text-decoration: none;
    height: 100%;
    line-height: 38px;
    padding: 0px 18px;
}

.subnav li a:hover {
    background-color: #ccc;
    color: #000;
}

.header__icon-search {
    height: 100%;
    width: 62px;
    text-align: center;
}

.header__icon-search a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 46px;
    color: #fff;
}

.header__icon-search a:hover {
    background-color: #f44336;
    color: #fff;
}

.header__icon-search a i {
    font-size: 16px;
}

/* slider  */
#slider {
}

#content {

}

#map {

}

#footer {

}
