* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.p-top-64 {
    padding-top: 64px !important;
}

.p-bottom-64 {
    padding-bottom: 64px !important;
}

.p-top-32 {
    padding-top: 32px !important;
}

.p-bottom-32 {
    padding-bottom: 32px !important;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    margin-left: 8px;
    margin-right: 8px;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33333%;
}

.col-full {
    width: 100%;
}

#main {
    position: relative;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.nav {
    display: flex;
    height: 100%;
}

.nav__item {
    list-style-type: none;
    height: 100%;
    
}

.nav__link {
    display: block;
    height: 100%;
    line-height: 46px;
    color: #fff;
    text-decoration: none;
    padding: 0px 18px;
    font-size: 15px;
    text-transform: uppercase;
}

.nav > li:hover > a {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.subnav {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    width: 160px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

#header .nav li:hover .subnav {
    display: block;
}


.subnav li {
    list-style: none;
    height: 38px;
}

.subnav li a {
    display: block;
    color: #000;
    text-decoration: none;
    height: 100%;
    line-height: 38px;
    padding: 0px 18px;
}

.subnav li a:hover {
    background-color: #ccc;
    color: #000;
}

.header__icon-search {
    height: 100%;
    width: 62px;
    text-align: center;
}

.header__icon-search a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 46px;
    color: #fff;
}

.header__icon-search a:hover {
    background-color: #f44336;
    color: #fff;
}

.header__icon-search a i {
    font-size: 16px;
}

/* slider  */
#slider {
    position: relative;
    margin-top: 46px;
    background: url(../img/slider/chicago.jpg) top center / cover no-repeat;
    padding-top: 50%;
}

.slider__text {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
}

.slider__text h3 {
    font-size: 24px;
    font-weight: 300;
    margin: 10px 0;
}

.slider__text span {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 0 1px #000;
}

/* content */
#content {
    width: 100%;
}

.content-section {
    max-width: 800px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.content-header {
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 5px;
}

.content-subheader {
    font-size: 15px;
    font-weight: 400;
    margin: 15px 0;
    opacity: 0.6;
    font-style: italic;
}

.about-text {
    margin: 15px 0;
    text-align: justify;
    line-height: 1.4;
    font-size: 15px;
}

.about-list {
    margin: 15px 0;
}

.about-item {
    list-style-type: none;
}

.about-name {
    font-size: 15px;
    margin: 15px 0;
}

.about-img {
    width: 154px;
    height: 154px;
    border-radius: 4px;
}

/* tour section */
.tour-section {
    background-color: #000;
}

.tour-section .content-header,
.tour-section .content-subheader {
    color: #fff;
}

.ticket-list {
    background-color: #fff;
}

.ticket-item {
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 8px 16px;
}

.ticket-text {
    color: #757575;
    font-size: 15px;
}

.ticket-sold {
    margin-left: 16px;
    background-color: #f44336;
    color: #fff;
    padding: 2px 6px;
}

.ticket-list li:last-child {
    border-bottom: none;
    justify-content: space-between;

}

.ticket-number {
    margin-right: 15px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    padding: 2px 8px;
}

/* Tour Location  */
.location-list {

}

.location-item {
}

.location-img {
    width: 245px;
    height: 184px;
    object-fit: cover;
    display: block;
}

.location-img:hover {
    opacity: 0.6;
}

.location-item__body {
    background-color: #fff;
    padding: 15px 16px;
    text-align: left;
}

.location-name {
    margin-bottom: 15px;
    font-size: 15px;
}

.location-time {
    margin: 15px 0;
    opacity: 0.6;
}

.location-desc {
    display: block;
    margin: 15px 0;
    font-size: 15px;
    line-height: 1.4;
}

.buy-tickets-btn {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 11px 20px;
    font-size: 15px;
}

.buy-tickets-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.contact-body {

}

.info-list {

}

.info-item {
    list-style-type: none;
    text-align: left;
    padding: 4px 0;
}

.info-item i {
    font-size: 14px;
    margin-right: 8px;
}

.info-text {
    font-size: 18px;
}

.input-top {
    margin-bottom: 8px;
}

.contact-input input {
    padding: 10px 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
}

.contact-btn {
    margin: 16px 0;
    float: right;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 11px 17px;
    font-size: 15px;
}

.contact-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

/* Map css */
#map {

}

.map-img {
    width: 100%;
}

/* Footer css */
#footer {
    text-align: center;
}

.footer-list {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.footer-item {
    list-style-type: none;
}

.footer-item i {
    font-size: 24px;
    color: #666666;
}

.footer-item:hover i {
    opacity: 0.6;
}

.footer-text {
    margin: 15px 0;
    color: #666666;
}

.footer-text a {
    color: #666666;
    
}

/* Modal css */
.modal {
    position: fixed;
    top:0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: none; /* hide default*/
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.modal-content {
    width: 900px;
    min-height: 400px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    /* Thiết lập ban đầu cho hiệu ứng trượt */
    transform: translateY(-100%); 
    transition: opacity 0.4s ease-out, transform 0.4s ease-out; /* Thiết lập transition */
}

/* 3. Hiệu ứng khi Modal hiển thị */
/* Lớp CSS này được thêm/bỏ bằng JavaScript */
.modal.show { /* added by js*/
    display: flex;
    opacity: 1;
}

.modal.show .modal-content {
    transform: translateY(0);
}

.modal-header {
    position: relative;
    width: 100%;
    height: 130px;
    background-color: #009788;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-tilte {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    color: #fff;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 17px 19px;
    font-size: 24px;
    color: #fff;
}

.modal-close:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal-body {
    padding: 0 16px;
}

.modal-body input {
    width: 100%;
    padding: 10px 10px;
    font-size: 15px;
    color: #c0c0c0;
    border: 1px solid #ccc;
}

.modal-input__text {
    margin: 15px 0;
    font-size: 15px;
}

.modal-btn-pay {
    border: none;
    background-color: #009788;
    width: 100%;
    margin: 16px 0;
    padding: 19px 6px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.modal-btn-pay i {
    
}

.modal-btn-pay:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal-bottom {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}

.btn-close-modal {
    border: none;
    background-color: #f44236;
    color: #fff;
    padding: 11px 18px;
    font-size: 15px;
}

.btn-close-modal:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal-bottom__helps {
    font-size: 15px;
}

.modal-bottom__helps a {
    color: #2196F3;
}
